@charset "UTF-8";
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

html {
    display: table;
    margin: auto;
     width: 20%;
}

body {
    display: table-cell;
}

table, th, td {
  	border: 1px solid;
    padding: 12px 15px;
    border-collapse: collapse;
}
table{
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}